* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #fff;
  color: #1f1534;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

/* HEADER */
.header {
  padding: 30px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 41px;
  height: 41px;
  background-color: #458ff6;
  color: white;
  font-size: 26px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #233348;
  line-height: 1;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #1f1534;
  font-weight: 400;
}

/* HERO SECTION */
.hero {
  position: relative;
  padding-top: 20px;
  padding-bottom: 80px;
  overflow: hidden;
}

.hero-decor {
  position: absolute;
  top:80px;
  width: 60px;
  height: 100px;
  opacity: 0.3;
  background-image: radial-gradient(circle, #458ff6 4px, transparent 5px);
  background-size: 20px 20px;
  z-index: 0;
} 

/* .hero-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  opacity: 0.3;
  background-image: radial-gradient(circle, #458ff6 4px, transparent 5px);
  height: auto;
  z-index: 0;
  pointer-events: none;
} */

.hero-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  max-width: 445px;
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  margin-bottom: 25px;
  line-height: 1.2;
}

.hero-content p {
  font-size: 21px;
  color: #7d7987;
  margin-bottom: 40px;
  line-height: 1.6;
}

.btn-primary {
  background-color: #458ff6;
  color: white;
  padding: 14px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.hero-illustration img {
  width: 100%;
  max-width: 550px;
  height: auto;
  display: block;
}
